* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.mega-container {
    height: 100vh;
    background: linear-gradient(to bottom,
    #1B9688 20%,
    #DBDBD2 20%,
    #DBDBD2 100%);
    background-repeat: no-repeat;

}


.container-app {
    width: 85%;
    height: 96vh;
    margin: auto;
    position: relative;
    display: flex;
    padding-top: 30px;
    

}
/*COLONNE */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc((100% / 12) * 4);
    background-color: #eaeaea
}
.col-8 {
    width: calc((100% / 12) * 8);
    background-color: aqua;
}


.col-6 {
    width: calc((100% / 12) * 6);
    background-color: aqua;
}

.col-12 {
    width: calc((100% / 12) * 12);
    background-color: #eaeaea;


}


.col-container-12 {
    width: calc((100% / 12) * 12);
    background-color: #eaeaea;
    height: 10%;

}



.container-left {
   display: flex;
   flex-direction: column;
}
.container-right {
    background-color: lightgreen; 
    position: relative;
    border-left: 1px solid lightgrey;
 
   
}

.chat {
    background-image: url(../img/mine.jpg);
    height: 77vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.mySelf {
    display: flex;
    align-items: center;
    height: 9vh;

}

.img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-top: 12px;
    margin-left: 12px;
}

.name {
    display: flex;
    align-items: center;
    height: 60px;
}

.img-select {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;

}

.notification {
    background-color: #8edafc;
    display: flex;
    align-items: center;
    position: relative;
    height: 11vh;
    padding: 12px 12px;
    
}

.rounded-box {
    width: 9vh;
    height: 9vh;
    background-color: white;
    border-radius: 50%;
    position: relative;
}

.img-postion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #8edafc;
}

.ms-span {
    margin-left: 8px;
    font-size: 18px;
}

.ms-notifiche {
    font-size: 14px;
    text-decoration: underline;
    color: grey;
    padding-left: 7px;

}

.left-bar {
    flex-grow: 1;
    overflow-y: auto
}

.endbar {
    display: flex;
}

/* right */
.bottom-right {
    position: absolute;
    bottom: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}



.sent {
    background-color: #DCF8C6;
    align-self: flex-end;
    margin-bottom: 5px;
    padding: 8px 8px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;

}

.received {
    background-color: #FFFFFF;
    align-self: flex-start;
    margin-bottom: 5px;
    padding: 8px 8px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
}
